body {
  margin: 0;
  background: linear-gradient(135deg, #6c63ff, #00e5a8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Poppins, sans-serif;
}

.app {
  background: #0f1220;
  color: white;
  padding: 30px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
}

.tapbtn {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #ffd166;
  border: none;
  font-size: 30px;
  margin: 20px auto;
  cursor: pointer;
}

.claim {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #00e5a8;
  font-weight: bold;
}
